<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>

<h2>Product Feed Download</h2>

<a onClick="">Download All Current Products</a>

<%= "Hello" %>
<% @makeMySheet %>

<h3> Product List</h3>

<% @products.each do |product| %>

<h3> <%= product.title %> </h3>
	<ul>
		<li><%= product.metafields %></li>
		<li><%= product.metafields.find( :params => {:namespace => "c_f",:key => "manfacturer"}) %></li>
		<li><%= product %></li>
		<li>ID: <%= product.id %>  </li>
		<li>Price: <%= product.variants %></li>
		<li>Tags: <%= product.tags %></li>
		<li>SKU:</li>
		<li>Condition: New</li>
		<li>Google Product Category: Hardware > Hardware Accessories > Door Hardware </li>
		<li>Availability: In Stock </li>
		<li>Description: <%= product.body_html %></li>
		
	</ul> 
<% end %>


<hr>

<h2>Webhooks</h2>

<% if @webhooks.present? %>
  <ul>
    <% @webhooks.each do |webhook| %>
      <li><%= webhook.topic %> : <%= webhook.address %></li>
    <% end %>
  </ul>
<% else %>
  <p>This app has not created any webhooks for this Shop. Add webhooks to your ShopifyApp initializer if you need webhooks</p>
<% end %>
